<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "metatags" . -}}
    <title>{{ template "title" . -}}</title>
    {{ import "docs_head_tags.html" . -}}
  </head>
  <body>
    {{ import "docs_header.html" . -}}
    {{ template "body" . -}}
    {{ import "docs_footer.html" . -}}
    {{ import "docs_footer_scripts.html" . -}}
  </body>
</html>

{{ define "metatags" }}{{ end }}
