{{ define "title" -}}
{{ i18n . "page.site.title.about" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.about" -}}
{{ $pageDesc := `about, why aah, aah go web framework` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="about, why aah, aah go web framework, aah">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
<div class="container body-content">
  <div class="row text-justify">
    <h1 class="text-center">Why aah framework</h1>
    <div class="row about-aah-section">
      <p>aah aims to provide flexibility, security, high performance, scalable Web/API framework yet lightweight. aah take cares of infrastructure, boilerplate code and repetitive activities.</p>
      <p class="text-center about-aah-quote">aah is not micro/minimalist web framework.</p>
      <p>Have a look at <a href="{{ rurl . "features" }}">features</a> to know your benefits of using aah and its very well <a href="{{ rurl . "docs.index" }}">documented</a>.</p>
      <ul class="list-unstyled">
        <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Security aware framework, secure session, CSRF prevention, XSS prevention, authentication, authorization</li>
        <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Provides proven project structure and organization of application pieces.</li>
        <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Extensible at every module/feature. If you're constrained, immediately raise an issue at GitHub.</li>
        <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Maintainable, it grows along with your application.</li>
        <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Gradually maturing and feature sets are getting added.</li>
      </ul>
      <p class="aah-first-release text-center">aah Go web framework initial stable version <code>0.5</code> released on May 19, 2017.</p>
    </div>
  </div>
</div>
{{- end }}
