{{ define "title" -}}
{{ i18n . "label.pages.site.contribute_code.title" }}
{{- end }}

{{ define "body" -}}
  <div class="container body-content">
    <div class="row">
      <h1>Contribute to Code</h1>
      <p>
        aah framework's codebase, modules and documentation is hosted on <a href="{{ config "link.aah.github_org" }}" target="_blank">Github</a>. It's easy to get started with aah codebase. If you have any questions, you can ask on the <a href="{{ config "link.aah.mailling_list" }}" target="_blank">mailing list</a> or you can also chat on <a href="{{ config "link.aah.gitter" }}" target="_blank">gitter.im</a> with aah community.
      </p>
      <p>
        To keep aah codebase arranged neatly and to make sure we work together smoothly there are some <a href="#contributor-guidelines">Contributor Guidelines</a> that you'll need to make sure you follow.
      </p>
    </div>
    <div class="row">
      <div class="row md-content">
        {{ safeHTML .Markdown }}
      </div>
    </div>
  </div>
{{- end }}
