{{ define "title" -}}
{{ .Article.Title }} - {{ i18n . "page.site.title.suffix" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := .Article.Title -}}
{{ $pageDesc := .Article.Desc -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="{{ .Article.Keywords }}">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
  <div class="container body-content">
    <div class="row">
      <h1>Features</h1>
      <p>
        List of features and capabilities provided by <code>aah</code> framework.
      </p>
    </div>
    <div class="row tmrgn-15">
      <div class="row">
        <div class="col-xs-12 col-md-5 no-lpad">
          <ul>
            <li><a href="#server-and-extension-points">Server and Extension Points</a></li>
            <li><a href="#configuration">Configuration</a></li>
            <li><a href="#url-routing-and-reverse-route">URL Routing and Reverse Route</a></li>
            <li><a href="#request-parameters-auto-parse-and-bind">Request Parameters - Auto Parse and Bind</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.8</span></li>
            <li><a href="#security-authentication-and-authorization">Security - Authentication and Authorization</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.7</span></li>
            <li><a href="#security-session-management">Security - Session Management</a></li>
            <li><a href="#view-engine">View Engine</a></li>
            <li><a href="#i18n-internalization-and-localization">i18n Internalization and Localization</a></li>
            <li><a href="#middleware">Middleware</a></li>
            <li><a href="#interceptors">Interceptors</a></li>
            <li><a href="#secure-http-headers">Secure HTTP Headers</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.8</span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4 no-lpad">
          <ul>
            <li><a href="#reply-builder">Reply Builder</a></li>
            <li><a href="#event-publisher-emitter">Event Publisher/Emitter</a></li>
            <li><a href="#content-negotiation">Content Negotiation</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.8</span></li>
            <li><a href="#centralized-error-handling">Centralized Error Handling</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.8</span></li>
            <li><a href="#static-file-delivery">Static File Delivery</a></li>
            <li><a href="#logger">Logger</a></li>
            <li><a href="#html-minify">HTML Minify</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.6</span></li>
            <li><a href="#easy-to-use-application-binary">Easy to use Application Binary</a></li>
            <li><a href="#essentials-library">Essentials Library</a></li>
            <li><a href="#hot-reload-for-development">Hot-Reload for Development</a>&nbsp;&nbsp;<span class="badge lb-xs">Since v0.7</span></li>
            <li><a href="{{ config "link.aah.roadmap" }}">Upcoming Features, refer to Roadmap</a></li>
          </ul>
        </div>
      </div>

      <div class="row tmrgn-15">
        <p>aah framework values Go idiomatic and ecosystem. Good read <a href="https://dmitri.shuralyov.com/idiomatic-go" target="_blank">here</a>, <a href="https://golang.org/doc/effective_go.html" target="_blank">here</a> and <a href="https://pocketgophers.com/idiomatic-go/">here</a>.</p>
      </div>

      <div class="row">
        {{ if .Article.IsContent -}}
        {{ safeHTML .Article.Content }}
        {{ end -}}
      </div>
    </div>
  </div>
{{- end }}
