{{ define "title" -}}
{{ .Article.Title }} - {{ i18n . "page.site.title.suffix" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := .Article.Title -}}
{{ $pageDesc := .Article.Desc -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="{{ .Article.Keywords }}">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
  <div class="container body-content">
    <div class="row">
      <h1>Features</h1>
      <p>
        List of feature sets provided by aah framework.
      </p>
    </div>
    <div class="row">
      <h3>Table of Contents</h3>
      <div class="row">
        <div class="col-xs-4 col-md-4 no-lpad">
          <ul>
            <li><a href="#server-and-extension-points">Server and Extension Points</a></li>
            <li><a href="#configuration">Configuration</a></li>
            <li><a href="#url-routing-and-reverse-route">URL Routing and Reverse Route</a></li>
            <li><a href="#i18n-internalization-and-localization">i18n Internalization and Localization</a></li>
            <li><a href="#session-management">Session Management</a></li>
            <li><a href="#view">View</a></li>
            <li><a href="#middleware">Middleware</a></li>
            <li><a href="#event-publisher-emitter">Event Publisher/Emitter</a></li>
          </ul>
        </div>
        <div class="col-xs-4 col-md-4">
          <ul>
            <li><a href="#interceptors">Interceptors</a></li>
            <li><a href="#reply-builder">Reply Builder</a></li>
            <li><a href="#static-file-delivery">Static File Delivery</a></li>
            <li><a href="#logger">Logger</a></li>
            <li><a href="#html-minify">HTML Minify</a>&nbsp;<span class="badge lb-xs">since v0.6</span></li>
            <li><a href="#easy-to-use-application-binary">Easy to use Application Binary</a></li>
            <li><a href="#essentials-library">Essentials Library</a></li>
            <li><a href="#upcoming-features">Upcoming Features</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <p>aah framework values Go Idiomatic and ecosystem. Good read <a href="https://dmitri.shuralyov.com/idiomatic-go" target="_blank">Idiomatic Go</a>, <a href="https://golang.org/doc/effective_go.html" target="_blank">Effective Go</a> and <a href="https://www.reddit.com/r/golang/comments/5b2j38/what_is_idiomatic_go/">Reddit</a>.</p>
      </div>

      <div class="row">
        {{ if .Article.IsContent -}}
        {{ safeHTML .Article.Content }}
        {{ end -}}
      </div>
    </div>
  </div>
{{- end }}
