{{ define "title" -}}
{{ i18n . "page.site.title.get_involved" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.get_involved" -}}
{{ $pageDesc := `aah framework is an open source project and you can become a part of it. There are various ways you can engage.` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="get involved, contribute, aah community, community, online chat, contribute to code, stackoverflow Q&A, improve documentation, aah">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end -}}

{{ define "body" -}}
  <div class="container-fluid aah-container-fluid">
    <div class="getinvolved clear">
      <div>
        <h1>Get Involved</h1>
        <p class="text-justity">aah framework is an open source project and you can become a part of it. There are various ways you can engage.</p>
        <p>Please, let the world know you've contributed to aah framework or give <a href="{{ config "link.aah.twitter" }}" target="_blank">@aahframework</a> a shout out on Twitter or on <a href="{{ config "link.aah.google_plus" }}" target="_blank">Google+</a> to let others know about your contribution.</p>
      </div>

      <div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <h3>
            <i class="fas fa-book fa-lg aah-color" aria-hidden="true"></i>&nbsp;&nbsp;
            <a href="{{ rurl . "docs.index" }}" target="_blank">Contribute to Documentation</a>
          </h3>
          <ul>
            <li>You're encouraged to <a href="{{ rurl . "docs.index" }}">edit, improve and add documentation</a>. For eg: correcting typo mistakes, grammer, add sample code snippet, etc.</li>
            <li>The docs are all written in <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">GitHub Flavored Markdown</a>.</li>
            <li>The moments after your edits are merged, they will be automatically published to <a href="{{ rurl . "docs.index" }}">docs.aahframework.org</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-6">
          <h3>
            <i class="fas fa-file-code fa-lg aah-color" aria-hidden="true"></i>&nbsp;&nbsp;
            <a href="{{ config "link.aah.github_issues" }}" target="_blank">Contribute to Code</a>
          </h3>
          <ul>
            <li>Test aah, discover and report an issue.</li>
            <li>Small changes, just send a Pull Request.</li>
            <li>Bigger changes, I would suggest you to start the discussion first before you work on.</li>
            <li>I like pull requests that include test cases. If possible example too.</li>
          </ul>
        </div>

        <div class="col-xs-12 col-lg-12">
          <h3>
            <i class="fas fa-users fa-lg aah-color" aria-hidden="true"></i>&nbsp;&nbsp;
            <a href="{{ config "link.golang_conduct" }}" target="_blank">Code of Conduct</a>
          </h3>
          <p>aah framework follows the <a href="{{ config "link.golang_conduct" }}" target="_blank">Golang Code of Conduct</a>. In short-</p>
          <ul>
            <li>Treat everyone with respect and kindness.</li>
            <li>Be thoughtful in how you communicate.</li>
            <li>Don’t be destructive or inflammatory.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{{- end }}
