{{ define "title" -}}
{{ i18n . "page.site.title.index" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.index" -}}
{{ $pageDesc := `aah makes it easy to build secure, scalable, high performance Web and RESTful application with Go. Enterprise grade features OOTB. Code less, achieve goals and aah is free, open source.` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="aah Go web framework, aah framework, aah GoLang web framework, aah">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
{{ $docIndexUrl := (rurl . "docs.index") }}
  <div class="container-fluid aah-container-fluid">
    <div class="pull-right">
      {{ import "social.html" . -}}
    </div>
    <div id="aahBanner" class="row text-center aah-banner">
        <h1>aah</h1>
        <h4 class="no-anchor">A secure, flexible, rapid Go web framework</h4>
        <div class="aah-current-release">
          <span>Latest release v{{ config "aah_release.latest" }}, {{ config "aah_release.date" }}</span>
        </div>
        <div class="aah-release-goreq">
          Requires <span style="font-size:16px">&ge;</span> go1.8, <a href="{{ $docIndexUrl }}release-notes.html" class="inherit-color">Release notes</a>
        </div>
        <div class="aah-hey-im-here">
          <a id="heyImHereBtn" href="#introduction" class="btn btn-success btn-aah-color">Hey, I'm here!</a>
        </div>
    </div>
    <div class="row text-center aah-intro-section">
      <h2 id="introduction" class="aah-intro no-anchor">Introducing aah framework</h2>
      <div class="summary">
        <p>aah makes it easy to build secure, scalable, high performance Web and RESTful application with Go. Enterprise grade features OOTB.</p>
        <p>Code less, achieve goals and aah is free, open source.</p>
      </div>
    </div>
    <div class="short-feature-list">
      <div class="row auto-clear">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <i class="fas fa-shield-alt fa-3x aah-color" aria-hidden="true"></i>
          <h5 class="no-anchor">Uncompromising Security</h5>
          <p>Secure session cookie/file/store, CSRF prevention, XSS prevention, powerful authentication and authorization. Bulit-in enterprise-grade protection by default.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <i class="fas fa-reply fa-3x aah-color" aria-hidden="true"></i>
          <h5 class="no-anchor">Powerful Reply</h5>
          <p>RESTful or Render with your choice of view engine - Enhanced Go, Pug (Jade), many more to come.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <i class="fas fa-tachometer-alt fa-3x aah-color" aria-hidden="true"></i>
          <h5 class="no-anchor">High Performance, Scalable</h5>
          <p>Pragmatic design and optimized implementation, HTTP/2, small memory footprint, less GC overhead.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <i class="fas fa-code fa-3x aah-color" aria-hidden="true"></i>
          <h5 class="no-anchor">Developer aah, easy to use</h5>
          <p>Clean, well documented, highly configurable, hot-reload, CLI tool. aah take cares of infrastructure and boilerplate code, etc. You can focus on application logic.</p>
        </div>
      </div>
      <div class="text-center aah-know-more">
        <a class="btn btn-primary btn-aah-color" href="{{ rurl . "features" }}">...get to know more!</a>
      </div>
    </div>
  </div>
{{- end }}
