{{ define "title" -}}
{{ i18n . "label.pages.site.index.title" }}
{{- end }}

{{ define "body" -}}
  <div class="container">
    <div class="pull-right">
      {{ import "social.html" . -}}
    </div>
    <div class="row text-center aah-banner">
        <h1>aah framework</h1>
        <h4>A scalable, performant, rapid development Web framework for Go</h4>
        <div class="aah-getting-started">
          <a href="{{ rurl . "docs.index" }}getting-started.html" class="btn btn-success">Get started with aah</a>
        </div>
        <div class="aah-current-release">
          <span>Latest release v{{ config "aah_release.latest" }}, {{ config "aah_release.date" }}</span>
        </div>
        <div class="aah-release-goreq">
          Requires <span style="font-size:14.5px">&ge;</span> go1.8
        </div>
    </div>

    <div class="row">
      <hr class="hr-drop-shadow" />
      <div class="row framework-features text-center">
        <p class="framework-summary">
          aah framework makes it easy to build scalable web apps and mobile apps API with Go language. aah is scalable, performant and rapid development. aah values DRY and convention over configuration. It makes application development more fun, free and open source.
        </p>
        <p class="text-center">aah framework goal is to achieve rapid, highly configurable and balanced Go web framework, from micro service to small, medium and enterprise scale.</p>
        <div class="row feature-list">
          <div class="col-lg-4">
            <i class="fa fa-cogs fa-2x aah-color" aria-hidden="true"></i>
            <h5>Configuration</h5>
            <p>aah configuration is similar to Typesafe HOCON syntax. Flexible and easy to configure. aah is opinionated and defaults to set of conventions and configurations <a href="#">know more</a>.</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-signal fa-2x aah-color" aria-hidden="true"></i> <i class="fa fa-expand aah-color aah-scalable-icon" aria-hidden="true"></i>
            <h5>Scalable</h5>
            <p>aah scales well with your use case. You can build scalable web apps and mobile apps APIs comfortably. Framework is flexible, well structured and ability to fulfil modern application needs.</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-tachometer fa-2x aah-color" aria-hidden="true"></i>
            <h5>High Performance</h5>
            <p>Optimized routing on domain and sub-domains, less GC overhead, optimized middlewares and pragmatic design.</p>
          </div>
        </div>
        <div class="row feature-list">
          <div class="col-lg-4">
            <i class="fa fa-reply fa-2x aah-color" aria-hidden="true"></i>
            <h5>Reply</h5>
            <p>aah supports various HTTP reply like HTML (layouts), JSON, JSONP, XML, Text, File (attachment, inline) and Bytes. Static file delivery via `http.ServeContent` and directory listing <a href="#">know more</a>.</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-cubes fa-2x aah-color" aria-hidden="true"></i>
            <h5>Domain & Subdomains</h5>
            <p>Easy to define multiple subdomains in routes.conf <a href="#">know more</a>.</p>
          </div>
          <div class="col-lg-4">
            <i class="fa fa-code fa-2x aah-color" aria-hidden="true"></i>
            <h5>Developer Friendly</h5>
            <p>Development is more fun, typical method name(s) aligned with industry nomenclature, focus on your application logic, use aah CLI tool to hot reload, packing, contribute, etc.</p>
          </div>
        </div>
        <div class="row features-know-more text-center">
          <a class="label label-primary" href="#">Features - know more</a>
        </div>
      </div> <!-- ./framework-features -->
    </div>
  </div>
{{- end }}
