{{ define "title" -}}
{{ i18n . "page.site.title.index" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.index" -}}
{{ $pageDesc := `Build scalable, secure, performant web application and RESTful APIs in Go. aah's goal is to achieve rapid, highly configurable, secure, very small footprint and balanced web framework for small, medium, enterprise scale.` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="aah framework, aah web framework for Go, web framework for Go, web framework for golang, aah">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
{{ $docIndexUrl := (rurl . "docs.index") }}
  <div class="container">
    <div class="pull-right">
      {{ import "social.html" . -}}
    </div>
    <div id="aahBanner" class="row text-center aah-banner">
        <h1>aah</h1>
        <h4 class="no-anchor">A secure, flexible, rapid development Go web framework</h4>
        <div class="aah-current-release">
          <span>Latest release v{{ config "aah_release.latest" }}, {{ config "aah_release.date" }}</span>
        </div>
        <div class="aah-release-goreq">
          Requires <span style="font-size:14.5px">&ge;</span> go1.8, <a href="{{ $docIndexUrl }}release-notes.html" class="inherit-color">Release Notes</a>
        </div>
        <div class="aah-hey-im-here">
          <a href="#introduction" class="btn btn-success btn-aah-color">Hey, I'm here!</a>
        </div>
        <!-- <div class="aah-getting-started">
          <a href="{{ $docIndexUrl }}getting-started.html" class="btn btn-success">Get started</a>
        </div> -->
    </div>

    <div class="row aah-section-outer auto-clear">
      <hr class="hr-drop-shadow" />
      <div class="row aah-section text-center">
        <h3 id="introduction">Introducing <span>aah framework</span></h3>
        <div class="framework-summary">
          <p>aah makes it easy to build secure, scalable, high performance Web and RESTful application with Go. Enterprise grade features out-of-the-box.</p>
          <p>Code less, achieve your goals and aah is open source.</p>
        </div>
        <div class="row auto-clear feature-list">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <i class="fa fa-shield fa-3x aah-color" aria-hidden="true"></i>
            <h5 class="no-anchor">Uncompromising Security</h5>
            <p>Security aware framework, secure session cookie/file/store, CSRF prevention, XSS prevention, powerful authentication and authorization. Bulit-in enterprise-grade protection by default.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <i class="fa fa-reply fa-3x aah-color" aria-hidden="true"></i>
            <h5 class="no-anchor">Powerful Reply Builder</h5>
            <p>RESTful or Render with your choice of view engine - Enhanced Go, Pug (Jade), many more to come.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <i class="fa fa-tachometer fa-3x aah-color" aria-hidden="true"></i>
            <h5 class="no-anchor">High Performance, Scalable</h5>
            <p>Pragmatic design and optimized implementation, HTTP/2, small memory footprint, less GC overhead.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <i class="fa fa-code fa-3x aah-color" aria-hidden="true"></i>
            <h5 class="no-anchor">Developer Friendly, easy to use</h5>
            <p>Clean, well documented, highly configurable, hot-reload, CLI tool. aah take cares of infrastructure and bolierplate code, etc. You can focus on your application logic.</p>
          </div>
        </div>
        <!-- <div class="row features-short">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-mobile-alt aah-color" aria-hidden="true"> SPA/Mobile app support</li>
            <li class="list-inline-item"><i class="fa fa-cog aah-color" aria-hidden="true"> Multi-environment configuration</li>
            <li class="list-inline-item"><i class="fa fa-elementor aah-color" aria-hidden="true"> Event Emitter/Publisher</li>
          </ul>
        </div> -->
        <div class="row features-know-more text-center">
          <a class="btn btn-primary btn-aah-color" href="{{ rurl . "features" }}">...get to know more!</a>
        </div>
      </div> <!-- ./aah-section -->
    </div>
  </div>
{{- end }}
