{{ define "title" -}}
{{ i18n . "label.pages.site.overview.title" }}
{{- end }}

{{ define "body" -}}
  <div class="container body-content">
    <div class="row">
      <!-- sidebar content -->
      <div class="col-md-2 col-lg-2">
        <div class="sidebar-menu">
          <ul class="sidebar-nav">
            <li>
              <a href="#">Introduction</a>
            </li>
            <li>
              <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Versioning</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /sidebar content -->
      <!-- page content -->
      <div class="col-md-10 col-lg-10">
        <div class="container">
          <div class="row page-content">

              This page content
              <h1>Testing</h1>

          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>
{{- end }}
