{{ define "title" -}}
{{ .Article.Title }} - {{ i18n . "page.site.title.suffix" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := .Article.Title -}}
{{ $pageDesc := .Article.Desc -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="{{ .Article.Keywords }}">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
  <div class="container-fluid aah-container-fluid body-content">
    <div class="row">
      <h1>Reporting Vulnerabilities</h1>
      <p>Hello, if you believe you’ve found something in <code>aah framework</code> which has security implications, please do not raise the issue in a public forum; it's best interest and to safe gurad aah application users before the fix is ready.</p>
      <p>I strongly encourage people to report such issue via email to <a href="mailto:security@aahframework.org">security@aahframework.org</a>. Security issues always take precedence over bug fixes and feature work. The project maintainers will work with you closely to resolve issues where required.</p>
      <p>Once an issue is resolved it is usually released immediately with the appropriate semantic version and gets documented in this page.</p>
    </div>
    <div class="row body-content" style="margin-top: -30px">
    {{ if .Article.IsContent -}}
    {{ safeHTML .Article.Content }}
    {{ end -}}
    </div>
  </div>
{{- end }}
