{{ define "title" -}}
{{ i18n . "page.site.title.support" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.support" -}}
{{ $pageDesc := `Support, help, aah Go web framework` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="support, help, aah Go web framework, aah">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
<div class="container-fluid aah-container-fluid">
  <div class="row aah-support">
    <h1 class="text-center">aah support</h1>
    <div class="row aah-support-section">
      <div class="row auto-clear">
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <a href="{{ config "link.aah.gitter" }}" target="_blank"><i class="fab fa-gitter fa-4x" aria-hidden="true"></i>
          <p>Chat on Gitter Channel</p></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <a href="{{ config "link.aah.slack" }}" target="_blank"><i class="fab fa-slack fa-4x" aria-hidden="true"></i>
          <p><code>#aah</code> on Gophers Slack </p></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <a href="{{ config "link.aah.github_issues" }}" target="_blank"><i class="fab fa-github fa-4x" aria-hidden="true"></i>
          <p>Raise issues on GitHub</p></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <a href="{{ config "link.aah.stackoverflow" }}" target="_blank"><i class="fab fa-stack-overflow fa-4x" aria-hidden="true"></i>
          <p>Use <code>aah</code> tag on StackOverflow</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
{{- end }}
