{{ define "title" -}}
{{ i18n . "page.site.title.whyaah" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.whyaah" -}}
{{ $pageDesc := `aah aims to provide necessary components to build modern Web and API application with secure, high performance, scalable and yet lightweight, flexible. aah takes care of infrastructure, boilerplate code, repetitive activities, reusable components, etc. aah is not a micro web framework.` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="about, why aah, aah go web framework, aah">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
<div class="container-fluid aah-container-fluid">
  <div class="row why-aah clear">
    <h1>Why aah?</h1>
  </div>
  <div class="why-aah-section">
    <p class="summary">aah aims to provide necessary components to build modern Web and API application with secure, high performance, scalable and yet <i>lightweight, flexible</i>. aah takes care of infrastructure, boilerplate code, repetitive activities, reusable components, etc. &nbsp;aah is not a micro web framework.</p> <br>
    <p>Have a look at <a href="{{ rurl . "features" }}">features</a> to know your benefits of using aah and its very well <a href="{{ rurl . "docs.index" }}">documented</a>.</p>
    <ul class="list-unstyled">
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Security aware framework, secure session, CSRF prevention, XSS prevention, authentication, authorization</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Extensible at every module/feature level. If you're constrained, immediately raise an issue at GitHub.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Provides proven project structure and organization of application pieces.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Highly maintainable, it grows along with your application use case.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Gradually getting mature and feature sets are getting added release by release.</li>
    </ul>
    <p class="aah-first-release text-center">aah Go web framework's initial stable version <code>0.5</code> released on May 19, 2017.</p>
  </div>
</div>
{{- end }}
