{{ define "title" -}}
{{ i18n . "page.site.title.whyaah" }}
{{- end }}

{{ define "meta_tags" -}}
{{ $pageTitle := i18n . "page.site.title.whyaah" -}}
{{ $pageDesc := `aah aims to provide necessary components to build modern Web and API applications. aah framework is secure, scalable and flexible. It takes full care of infrastructure, boilerplate code, repetitive activities, reusable components, etc. aah is not a micro web framework yet lightweight.` -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="keywords" content="about, why aah, aah go web framework, aah, aah framework">
    <meta property="og:title" content="{{ $pageTitle }}"/>
    <meta property="og:description" content="{{ $pageDesc }}"/>
    <meta name="twitter:title" content="{{ $pageTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
{{ end }}

{{ define "body" -}}
<div class="container-fluid aah-container-fluid">
  <div class="row why-aah clear">
    <h1>Why aah?</h1>
  </div>
  <div class="why-aah-section">
    <p class="summary">aah aims to provide necessary components to build modern Web, API and WebSocket applications. aah framework is secure, rapid and extensible. It takes full care of infrastructure, boilerplate code, repetitive activities, reusable components, etc.</p>
    <p class="text-center summary">aah is feature packed framework with <i>nature of micro framework</i>.</p><br>
    <p>Have a look at the <a href="{{ rurl . "features" }}">features</a> to know the benefits of using aah and it is very well <a href="{{ rurl . "docs.index" }}">documented</a>.</p>
    <ul class="list-unstyled">
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Truly easy to use and configuration driven.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Security aware framework, secure session, CSRF prevention, XSS prevention, authentication, authorization, etc.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Build powerful end-user product and ship it.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Extensible at module level. If not, then immediately raise an <a href="{{ config "link.aah.github_issues" }}">issue</a>.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Highly maintainable, reduced delivery time, shines with application growth.</li>
      <li><i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Steadily maturing framework and the feature-sets are getting enhanced release by release.</li>
    </ul>
    <p class="aah-first-release text-center">aah's initial stable version <code>0.5.0</code> was released on May 19, 2017.</p>
  </div>
</div>
{{- end }}
