/* aahframework.org CSS file */

@font-face {
    font-family: timeburnerFont;
    src: url(/assets/fonts/timeburnerbold.ttf);
}

body {
  padding-top: 74px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
  @-ms-viewport     { width: device-width; }
  @-o-viewport      { width: device-width; }
  @viewport         { width: device-width; }
}

@media all and (min-width:769px) and (max-width: 800px),
all and (min-width:569px) and (max-width: 768px),
all and (min-width:481px) and (max-width: 568px),
 all and (min-width:321px) and (max-width: 480px) {
  .aah-banner {
    margin-left: 5px;
    margin-right: 5px;
  }

  .aah-banner h1 {
    font-size: 3.5em;
  }

  .framework-features {
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-text-align {
    text-align: center;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  .aah-banner {
    margin-left: 5px;
    margin-right: 5px;
  }

  .aah-banner h1 {
    font-size: 3.0em;
  }

  .framework-features {
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-text-align {
    text-align: center;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 850px;
  }

  .docs-version-dd {
    width: 175px !important;
  }

  .aah-banner h1 {
    font-size: 4.5em;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .docs-version-dd {
    width: 230px !important;
  }

  .aah-banner h1 {
    font-size: 5.5em;
  }
}

code {
    color: #292727; /*#272525*/
    /*background-color: rgba(27, 31, 35, 0.05);*/
    background-color: #f5f2f0;
}

.navbar-toggle {
  padding: 10px;
  margin: 17px 20px 15px 0;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
    background-color: #e25657;
}

.aah-color {
  color: #e25657;
}

.inherit-color {
  color: inherit;
}

.btn-aah-color, .btn-aah-color:focus, .btn-aah-color:hover {
  background-color: #e25657;
  border-color: #e25657;
}

.navbar-nav .aah-color:hover {
  color: #fff;
}

.navbar-default {
  min-height: 74px;
  border-bottom: 1px solid #dcdbdb;
}

.navbar-brand {
  padding-top: 4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  margin-top: 10px;
  padding-top: 5px;
  border-color: #e25657;
}

.nav-social-align {
  padding-top: 16px;
  padding-left: 10px;
}

.aah-banner {
  padding-top: 60px;
  padding-bottom: 40px;
  color: inherit;
}

.aah-banner h1 {
  font-weight: bolder;
  color: #333333;
  font-size: 5em;
  font-family: timeburnerFont;
}

.aah-banner h4 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.aah-current-release {
  padding-top: 30px;
  font-size: 13px;
  font-weight: 600;
  color: #676767;
}

.aah-release-goreq {
    padding-top: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #676767;
}

.aah-release-goreq a {
  font-size: 12px;
}

.aah-getting-started {
  padding-top: 70px;
}

.aah-getting-started .btn-success {
  font-weight: bold;
}

.aah-social {
  margin-top: 10px;
}

.aah-social a {
  padding-left: 10px;
  color: #999;
}

.aah-social a:hover {
  text-decoration: none;
  cursor: pointer;
}

.aah-social :hover {
  color: #e25657;
}

.hr-drop-shadow {
  height: 15px;
  border: 0;
  box-shadow: inset 0 15px 15px -15px #e6e6e6;
  margin: 0;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.framework-summary {
  padding: 15px 15px 0 15px;
  text-align: justify;
}

.framework-features h3 {
  font-weight: bold;
}

.feature-list {
  margin-top: 40px;
}

.feature-list h5 {
  font-weight: bold;
}

.feature-list p {
  text-align: justify;
}

.feature-list .col-lg-4,
.feature-list .col-xs-6,
.feature-list .col-md-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.features-know-more {
  padding-top: 20px;
}

.aah-scalable-icon {
  position: absolute;
  margin-left: -25px;
  z-index: 100;
}

.alert-info-light {
  background-color: #8e58a9;
}

.alert-info-blue {
  background-color: #d9edf7;
  color: #31708f;
}

.alert-info-green {
  background-color: #dff0d8;
  color: #3c763d;
}

.body-content {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 600px;
}

.docs-body-content {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 600px;
}

.body-content .aah-col {
  padding-top: 20px;
}

.body-content h1, .docs-body-content h1,
.body-content h2, .docs-body-content h2,
.body-content h3, .docs-body-content h3,
.body-content h4, .docs-body-content h4,
.body-content h5, .docs-body-content h5 {
  font-weight: bold;
  padding-top: 20px;
}

.body-content h1, .docs-body-content h1 {
  font-size: 200%;
}

.body-content h2, .docs-body-content h2 {
  font-size: 160%;
}

.body-content h3, .docs-body-content h3 {
  font-size: 125%;
}

.body-content h4, .docs-body-content h4 {
  font-size: 100%;
}

.body-content h5, .docs-body-content h5 {
  font-size: 95%;
}

.body-content .col-lg-6, .docs-body-content .col-lg-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.body-content h1 a, .docs-body-content h1 a,
.body-content h2 a, .docs-body-content h2 a,
.body-content h3 a, .docs-body-content h3 a,
.body-content h4 a, .docs-body-content h4 a {
  text-decoration: none;
  color: inherit;
}

.body-content h1 a:hover, .docs-body-content h1 a:hover,
.body-content h2 a:hover, .docs-body-content h2 a:hover,
.body-content h3 a:hover, .docs-body-content h3 a:hover,
.body-content h4 a:hover, .docs-body-content h4 a:hover, {
  color: #2780e3;
}

.body-content .row, .docs-body-content .row {
  padding-left: 15px;
  padding-right: 15px;
}

.about-team a {
	color:inherit;
}

.about-team a:hover {
	color: #2780e3;
}

.docs-sidebar .spacer {
  margin-top: 50px;
}

.page-content {
  border-left: 1px solid #dcdbdb;
  padding-left: 30px;
}

.docs-page-content {
  padding-right: 30px;
  min-height: 700px;
}

.docs-page-content p {
  text-align: justify;
}

.docs-page-content li {
  padding-top: 5px;
  padding-bottom: 7px;
}

.docs-li-small li {
  padding-top: 0;
  padding-bottom: 3px;
}

.li-color li a {
  color: inherit;
  text-decoration: none;
}

.li-color li a:hover {
  color: #2780e3;
  text-decoration: underline;
}

.docs-sidebar {
  width: 100%;
  padding-left: 20px;
}

.docs-version {
  margin-top: 26px;
  margin-bottom: 20px;
}

.docs-version-dd .btn-primary, .docs-lang-dd .btn-primary {
  background-color: inherit;
  color: inherit;
  border-color: #dcdbdb;
}

.docs-edit-btn {
  padding-top: 42px;
}

.docs-sidebar-head {
  font-weight: bold;
  margin-top: 15px;
}

.docs-sidebar hr {
  margin-top: 5px;
}

.lb-xs {
  font-size: 9px;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}

.list-style-none {
  list-style: none;
  margin-left: -15px;
}

.no-lpad {
  padding-left: 0;
}

.no-rpad {
  padding-right: 0;
}

.tmrgn-15 {
  margin-top: 15px;
}

.tmrgn-35 {
  margin-top: 35px;
}

.tmrgn-75 {
  margin-top: 75px;
}

.footer {
  margin-top: 70px;
  font-size: 13px;
	padding-bottom: 3%;
}

.footer > .container {
  border-top: 1px solid #dcdbdb;
  padding-top: 1%;
}

.footer > .container a {
	color:inherit;
}

.footer > .container a:hover {
	color: #2780e3;
}

.footer .col-lg-6, .footer .col-xs-6 {
  padding: 0;
}

.footer .powered-by {
  font-size: 12px;
}

/* Google search */
td.gsc-search-button, td.gsc-clear-button {
    visibility: hidden;
}

div.gs-snippet {
  padding-left: 9px;
}

.gs-result .gs-title, .gs-result .gs-title * {
  text-decoration: none !important;
}

.gsc-control-cse {
  padding-top: 0;
  margin-top: -2px;
}

.gsc-input {
  margin-top: -3px !important;
}

.vh-sec-hdr {
  height: 35px;
  background-color: #f9f6f6;
  margin-top: 3%;
  padding-left: 7px;
}

.vh-sec-hdr h4 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.9em;
  font-size: 110%;
}

.vh-sec-content {
  margin-top: 1%;
}

.vh-sec-content a {
  text-decoration: none;
  color: inherit;
}

.vh-sec-content a:hover {
  color: #2780e3;
}

.vh-sec-content ul {
  list-style-type: none;
}

.vh-sec-content li {
  padding-bottom: 0;
}

.vh-sec-content .sub-li li {
  list-style: none;
  padding-top: 3px;
}

/*.vh-sec-content ul li:before {
  content: '-';
  position: absolute;
  margin-left: -10px;
}*/

.show-doc .vh-sec-hdr {
  height: 25px;
}

.show-doc .vh-sec-hdr h4 {
  line-height: 1.5em;
}

.docs-dev-support .vh-sec-content li {
  text-align: center;
}
