/* aahframework.org CSS file */

body {
  padding-top: 74px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
  @-ms-viewport     { width: device-width; }
  @-o-viewport      { width: device-width; }
  @viewport         { width: device-width; }
}

@media all and (min-width:320px) {
  .aah-container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #back2Top {
    right: 5px !important;
    bottom: 5px !important;
  }
}

@media all and (min-width:320px) {
  .aah-banner h1 {
    font-size: 6.5em !important;
  }
  .aah-banner h4 {
    font-size: 0.9em !important;
  }
  .aah-current-release {
    font-size: 0.8em !important;
  }
  .aah-release-goreq {
    font-size: 0.7em !important;
  }
  .aah-intro-section h2 {
    font-size: 2em !important;
  }
  .aah-intro-section .summary {
    font-size: 1.05em !important;
  }
  .aah-features h1 {
    font-size: 4em !important;
  }
  .aah-features p {
    font-size: 1em !important;
  }
  .aah-security h1 {
    font-size: 4em !important;
  }
  .aah-security p {
    font-size: 1em !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .aah-social {
    padding-right: 7px !important;
  }
  .short-feature-list {
    padding-top: 20px !important;
  }
  .short-feature-list .col-xs-12 {
    padding-top: 45px;
  }
  .why-aah h1 {
    font-size: 4em !important;
  }
  .why-aah-section {
    font-size: 1em !important;
  }
  .why-aah-section .summary {
    font-size: 1.2em !important;
  }
  .aah-search-base-version #aahDocSearch { width: 300px !important; }
  .docs-body-content { margin-top: 100px !important; }
}

@media all and (min-width:370px) {
  .aah-banner h1 {
    font-size: 7em !important;
  }
  .aah-banner h4 {
    font-size: 1em !important;
  }
  .aah-intro-section h2 {
    font-size: 2.5em !important;
  }
  .aah-intro-section .summary {
    font-size: 1.1em !important;
  }
  .aah-features h1 {
    font-size: 5em !important;
  }
  .aah-features p {
    font-size: 1.2em !important;
  }
  .aah-security h1 {
    font-size: 5em !important;
  }
  .aah-security p {
    font-size: 1.2em !important;
  }
  .why-aah h1 {
    font-size: 4.5em !important;
  }
  .docs-body-content { margin-top: 100px !important; }
}

@media all and (min-width:560px) {
  .aah-banner {
    min-height: 450px;
  }
  .aah-banner h1 {
    font-size: 7.5em !important;
  }
  .aah-banner h4 {
    font-size: 1em !important;
  }
  .aah-intro-section h2 {
    font-size: 2.5em !important;
  }
  .aah-intro-section .summary {
    font-size: 1.5em !important;
  }
  .aah-features h1 {
    font-size: 6em !important;
  }
  .aah-features p {
    font-size: 1.7em !important;
  }
  .aah-security h1 {
    font-size: 6em !important;
  }
  .aah-security p {
    font-size: 1.3em !important;
  }
  .why-aah h1 {
    font-size: 5.5em !important;
  }
  .docs-version-dd { margin-top: -5px; }
  .docs-body-content { margin-top: 70px !important; }
}

@media all and (min-width:660px) {
  .aah-banner {
    min-height: 450px;
  }
  .aah-banner h1 {
    font-size: 8em !important;
  }
  .aah-banner h4 {
    font-size: 1em !important;
  }
  .aah-intro-section h2 {
    font-size: 3em !important;
  }
  .aah-intro-section .summary {
    font-size: 1.6em !important;
  }
  .aah-features h1 {
    font-size: 7em !important;
  }
  .aah-features p {
    font-size: 1.9em !important;
  }
  .aah-security h1 {
    font-size: 7em !important;
  }
  .aah-security p {
    font-size: 1.5em !important;
  }
  .why-aah h1 {
    font-size: 6em !important;
  }
}

@media all and (min-width:760px) {
  .aah-banner h1 {
    font-size: 9em !important;
  }
  .aah-banner h4 {
    font-size: 1em !important;
  }
  .aah-intro-section h2 {
    font-size: 3.3em !important;
  }
  .aah-intro-section .summary {
    font-size: 1.7em !important;
  }
  .aah-features h1 {
    font-size: 8em !important;
  }
  .aah-features p {
    font-size: 2em !important;
  }
  .navbar-fixed-top {
    font-size: 8.2px !important;
  }
  .short-feature-list .col-xs-12 {
    padding-top: 10px;
  }
  .aah-security h1 {
    font-size: 8em !important;
  }
  .aah-security p {
    font-size: 1.6em !important;
  }
  .why-aah-section {
    font-size: 1.2em !important;
  }
  .why-aah-section .summary {
    font-size: 1.3em !important;
  }
  .auto-clear .col-sm-6:nth-child(odd) { clear: left;}
}

@media all and (min-width:1020px) {
  .aah-banner h1 {
    font-size: 11em !important;
  }
  .aah-banner h4 {
    font-size: 1.2em !important;
  }
  .aah-current-release {
    font-size: 1em !important;
  }
  .aah-release-goreq {
    font-size: 0.9em !important;
  }
  .aah-intro-section h2 {
    padding-top: 50px !important;
    font-size: 3.5em !important;
  }
  .aah-intro-section .summary {
    font-size: 1.9em !important;
  }
  .navbar-fixed-top {
    font-size: 12px !important;
  }
  .short-feature-list .col-md-3 {
    width: 50%;
  }
  .why-aah h1 {
    font-size: 7.5em !important;
  }
  .why-aah-section {
    font-size: 1.3em !important;
  }
  .aah-container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  #back2Top {
    right: 20px !important;
    bottom: 20px !important;
  }
}

@media all and (min-width:1200px) {
  .aah-banner h1 {
    font-size: 12em !important;
  }
  .short-feature-list {
    padding-top: 60px !important;
  }
  .short-feature-list .col-md-3 {
    width: 25%;
  }
  .why-aah h1 {
    font-size: 8em !important;
  }
  .navbar-fixed-top {
    font-size: 14.5px !important;
  }
  .aah-search-base-version #aahDocSearch { width: 450px !important; }
  .auto-clear .col-sm-6:nth-child(odd) { clear: unset; }
  .auto-clear .col-lg-6:nth-child(odd) { clear: left; }
}

pre, code {
  color: #292727;
  background-color: #f5f2f0;
  font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}

.aah-container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  border-radius: 2px;
}

.badge {
  background-color: #588cc5;
  border-radius: 2px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: -2px;
}

.navbar-toggle {
  padding: 10px;
  margin: 17px 20px 15px 0;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
  background-color: #3857ba;
}

.navbar-right {
  font-weight: 500;
  font-size: 1.25em;
}

.aah-color {
  color: #3857ba;
}

.aah-color-imp {
  color: #3857ba !important;
}

.inherit-color {
  color: inherit;
}

.btn-aah-color, .btn-aah-color:focus, .btn-aah-color:hover {
  background-color: #3857ba;
  border-color: #3857ba;
}

.navbar-nav .aah-color:hover {
  color: #fff;
}

.navbar-default {
  min-height: 74px;
}

.navbar-brand {
  padding-top: 4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  margin-top: 10px;
  padding-top: 5px;
  border-color: #3857ba;
}

.nav-social-align {
  padding-top: 16px;
  padding-left: 10px;
}

.aah-banner {
  color: inherit;
  height: 450px;
}

.aah-banner h1 {
  font-weight: bolder;
  color: #444;
  font-size: 12em;
  font-family: timeburnerFont;
}

.aah-banner h4 {
  font-weight: 400;
  color: #555;
  font-size: 1.3em;
}

.aah-current-release {
  padding-top: 30px;
  font-size: 1em;
  font-weight: 500;
  color: #676767;
}

.aah-release-goreq {
  padding-top: 5px;
  font-size: 0.9em;
  font-weight: 500;
  color: #676767;
}

.aah-hey-im-here {
  padding-top: 80px;
}

.aah-hey-im-here .btn-success {
  font-weight: bold;
  font-size: 14px;
}

.aah-intro-section {
  height: 392px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: #fff;
  margin-left: -50px;
  margin-right: -50px;
}

.aah-intro-section h2 {
  font-size: 5em;
  font-weight: bold;
  padding-top: 30px;
}

.aah-intro-section .summary {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 35px;
  font-size: 2em;
}

.aah-social {
  margin-top: 10px;
}

.aah-social a {
  padding-left: 10px;
  color: #999;
}

.aah-social a:hover {
  text-decoration: none;
  cursor: pointer;
}

.aah-social :hover {
  color: #3857ba;
}

.short-feature-list {
  padding-top: 60px;
  /* color: #4e4e4e; */
}

.short-feature-list h5 {
  font-weight: 500;
  font-size: 1.6em;
}

.short-feature-list p {
  font-size: 1.1em;
  color: #4e4e4e;
}

 .aah-know-more {
  padding-top: 50px;
}

.short-feature-list .aah-know-more .btn-primary {
  font-weight: bold;
}

.aah-features {
  height: 456px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: #fff;
  margin-right: -50px;
  margin-left: -50px;
}

.aah-features h1 {
  color: #fff !important;
  font-size: 8em;
  text-align: center;
  line-height: 260px;
  font-weight: 500;
}

.aah-features p {
  text-align: center;
  font-size: 2.7em;
}

.feature-list-section {
  padding-top: 50px;
}

.feature-list-section h2 {
  font-weight: 500;
}

.feature-list-section div {
  min-height: 240px;
}

.feature-list-section p, .feature-list-section li {
  font-size: 1.15em;
}

.feature-list-section li a {
  color: inherit;
}

.feature-list-section li a:hover {
  color: #2780e3;
}

.feature-list-section li {
  word-wrap: break-word;
  overflow-wrap:break-word;
  padding-left: 15px;
  line-height: 1.7em;
}

.feature-list-section i {
  font-size: 0.9em;
}

.aah-security {
  height: 456px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: #fff;
  margin-right: -50px;
  margin-left: -50px;
}

.aah-security h1 {
  color: #fff !important;
  font-size: 8em;
  text-align: center;
  line-height: 260px;
  font-weight: 500;
}

.aah-security p {
  text-align: center;
  font-size: 2.7em;
}

.aah-security-section {
  padding-top: 50px;
}

.aah-security-section .summary {
  font-size: 1.2em;
}

.aah-security-section h3 {
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5em;
}

.aah-security-section p, .aah-security-section li, .aah-security-section li ul li {
  font-size: 1.2em;
}

.aah-security-section li ul li {
  font-size: 1.02em;
}

.aah-security-section li {
  padding-left: 20px;
  padding-top: 10px;
}

.why-aah {
  height: 456px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin-right: -50px;
  margin-left: -50px;
}

.why-aah h1 {
  color: #3857ba;
  font-size: 8em;
  text-align: center;
  line-height: 160px;
  font-weight: 500;
}

.why-aah-section {
  padding-top: 50px;
  font-size: 1.3em;
}

.why-aah-section .summary {
  font-size: 1.3em;
}

.why-aah-section li {
  padding-left: 20px;
  padding-top: 10px;
}

.why-aah-section .aah-first-release {
  margin-top: 50px;
}

.alert-info-light {
  background-color: #8e58a9;
}

.alert-info-blue {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px #bce8f1 solid;
}

.alert-info-green {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px #d6e9c6 solid;
}

.alert-info-yellow {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border: 1px #faebcc solid;
}

.site-body-content h1 {
  font-weight: bold;
}
.site-body-content h2,
.site-body-content h3,
.site-body-content h4,
.site-body-content h5 {
  font-weight: 500;
}

.docs-body-content {
  margin-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 600px;
}

.docs-body-content h1,
.docs-body-content h2,
.docs-body-content h3,
.docs-body-content h4,
.docs-body-content h5 {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #444;
}

.docs-body-content h1 {
  font-size: 225%;
}

.docs-body-content h1 {
  padding-top: 5px;
  padding-bottom: 22px;
}

.docs-body-content h2 {
  font-size: 160%;
}

.docs-body-content h3 {
  font-size: 125%;
}

.docs-body-content h4 {
  font-size: 100%;
}

.docs-body-content h5 {
  font-size: 95%;
}

.docs-body-content .col-lg-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.docs-body-content h1 a,
.docs-body-content h2 a,
.docs-body-content h3 a,
.docs-body-content h4 a {
  text-decoration: none;
  color: inherit;
}

.docs-body-content h1 a:hover,
.docs-body-content h2 a:hover,
.docs-body-content h3 a:hover,
.docs-body-content h4 a:hover, {
  color: #2780e3;
}

.docs-body-content .row {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.about-team a {
	color:inherit;
}

.about-team a:hover {
	color: #2780e3;
}

.page-content {
  border-left: 1px solid #dcdbdb;
  padding-left: 30px;
}

#docEditBtn a {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 26px;
}

.docs-edit-btn {
  padding-top: 28px;
}

.docs-page-content {
  margin-right: 10px;
  min-height: 700px;
}

.docs-page-content p {
  text-align: justify;
  font-size: 1.1em;
}

.docs-page-content li {
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 1.1em;
}

.docs-page-content li ul li {
  font-size: 1em;
}

.docs-page-content .code-toolbar {
  margin-top: 25px;
  margin-bottom: 25px;
}

.docs-page-content thead {
  background-color: #f9f9f9;
}

.examples {
  margin-top: -50px;
}

.examples .docs-page-content li {
  padding-top: 3px;
  padding-bottom: 2px;
}

.examples .docs-page-content h4 {
  padding-top: 5px;
}

.docs-li-small li {
  padding-top: 0;
  padding-bottom: 3px;
}

.li-color li a {
  color: inherit;
  text-decoration: none;
}

.li-color li a:hover {
  color: #2780e3;
  text-decoration: underline;
}

.docs-sidebar {
  width: 100%;
}

.docs-sidebar ul {
  padding-left: 20px;
}

.docs-sidebar li {
  padding-top: 3px;
  padding-bottom: 2px;
}

.docs-sidebar li ul {
  padding-left: 30px;
}

.docs-sidebar-head {
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 13px;
  padding-left: 10px;
  width: 100%;
  line-height: 2.5em;
  height: 2.5em;
  margin-bottom: 20px;
  border-bottom: 1px solid #adabab;
}

.docs-sidebar .spacer {
  margin-top: 50px;
}

.lb-xs {
  font-size: 9px;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}

.lb-drop-color {
  background-color: #f11e20;
  border-color: #f11e20;
  color: #fff;
}

.list-style-none {
  list-style: none;
}

.no-lpad {
  padding-left: 0;
}

.lpad-15 {
  padding-left: 15px;
}

.no-rpad {
  padding-right: 0;
}

.tmrgn-15 {
  margin-top: 15px;
}

.tmrgn-35 {
  margin-top: 35px;
}

.tmrgn-75 {
  margin-top: 75px;
}

.ft-16em {
  font-size: 1.6em !important;
}

.footer {
  margin-top: 70px;
  font-size: 13px;
  background-color: #f8f8f8;
	padding-bottom: 2.5%;
}

.footer a {
  color:inherit;
}

.footer a:hover {
  color: #2780e3;
  text-decoration: none;
}

.footer .footer-block {
  padding-top: 1%;
  color: #444141;
}

.aah-footer-logo {
  color: #5f5d5d;
  font-size: 1.5em;
  font-family: timeburnerFont;
  padding-top: 4px;
}

.aah-fwk-text {
  padding-left: 7px;
}

.aah-license-info {
  margin-top: 15px;
}

.aah-support {
  min-height: 550px;
}

.aah-support h1 {
  font-weight: 500;
  font-size: 4em;
  padding-top: 70px;
}

.aah-support-section {
  text-align: center;
  padding-top: 100px;
  padding-right: 40px;
}

.aah-support-section p {
  font-size: 1.5em;
  margin-top: 30px;
}

.aah-support-section a {
  color: inherit;
  text-decoration: none;
}

.aah-support-section i:hover {
  color: #3857ba;
}

.getinvolved  h1,
.aah-security-vuln h1 {
  font-size: 3em;
  padding-bottom: 20px;
}

.getinvolved  h1, .getinvolved h3,
.aah-security-vuln h1 {
  font-weight: 500;
}

.getinvolved p, .getinvolved li,
.aah-security-vuln p, .aah-security-vuln li,
.aah-security-vuln-section p, .aah-security-vuln-section li {
  font-size: 1.2em;
}

.getinvolved h3 a {
  color: inherit;
}

.getinvolved h3 a:hover {
  text-decoration: none;
}

.aah-security-vuln {
  margin-top: 10px;
}

.aah-security-vuln-section h2 {
  font-weight: 500;
}

.aah-security-vuln-section h3 {
  font-weight: 400;
  font-size: 1.5em;
}

.footer .footer-box {
  font-size: 12px;
  padding-top: 6px;
}

.footer .footer-box h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.footer .footer-box li {
  margin-top: 5px;
}

.footer .powered-by {
  font-size: 12px;
  padding-top: 2%;
}

.footer .about-aah {
  font-size: 12px;
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.footer .about-aah code {
  background-color: inherit;
  font-weight: bold;
}

/*  Algoli Search */
.aah-search-base-version {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.aah-search-base-version #aahDocSearch {
  width: 450px;
  border-radius: 3px;
}
.aah-search-base-version .form-control:focus {
  box-shadow:none;
  -webkit-box-shadow:none;
  border-color:#cccccc;
}
.docs-version-dd {
  width: 130px !important;
}
.docs-version-dd .btn-primary, .docs-lang-dd .btn-primary {
  background-color: inherit;
  color: inherit;
  border: 1px solid #cccccc;
}

.version-home h1 {
  font-weight: 500;
  font-size: 4em;
}

.version-home p {
  font-size: 1.2em;
}

.vh-sec-hdr {
  margin-top: 3%;
  border-bottom: 1px solid #adabab;
  margin-bottom: 2%;
}

.vh-sec-hdr h2 {
  font-weight: 500;
  font-size: 2.1em;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 8px;
}

.vh-sec-content {
  margin-top: 1%;
}

.vh-sec-content a {
  text-decoration: none;
  color: inherit;
}

.vh-sec-content a:hover {
  color: #2780e3;
}

.vh-sec-content ul {
  list-style-type: none;
}

.vh-sec-content li {
  padding-bottom: 0;
  font-size: 1.05em;
}

.vh-sec-content .sub-li li {
  list-style: none;
  padding-top: 3px;
}

.show-doc .vh-sec-hdr {
  height: 25px;
}

.show-doc .vh-sec-hdr h4 {
  line-height: 1.5em;
}

.docs-dev-support .vh-sec-content li {
  text-align: center;
}

.aah-release-notes .docs-page-content h1 {
  font-weight: 500;
  font-size: 3.5em;
}

.aah-release-notes .docs-page-content h2 {
  font-weight: 500;
  font-size: 2.5em;
}

.aah-release-notes .docs-page-content h4 {
  font-weight: 500;
  font-size: 1.7em;
}

.aah-release-notes .docs-page-content p, .aah-release-notes .docs-page-content li{
  font-size: 1.2em;
}

.page-center-msg {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.non-h-lbl {
  font-weight: bolder;
  font-size: 2em;
}

.gh-star-btn {
  margin-top: 15px;
  margin-left: 11px;
}

.gh-star-tip {
  margin-left: 4px;
  color: #3857ba;
}

/* Text Selection color */
::-moz-selection {  background-color: #def0ff; }
::-o-selection {  background-color: #def0ff; }
::-ms-selection {  background-color: #def0ff; }
::-webkit-selection { background-color: #def0ff; }
::selection { background-color: #def0ff; }

/* Back to Top */
#back2Top {
  width: 50px;
  line-height: 50px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  text-decoration: none;
}

#back2Top:hover {
  cursor: pointer;
}

.sponsors .algolia {
  padding-top: 5px;
  width: 50px;
  font-size: 2.5em;
}
.sponsors .algolia a:hover {
  color: inherit;
}
.sponsors .keycdn {
  padding-top: 5px;
}
.sponsors .keycdn img {
  width: 100px;
  height: 30px;
  opacity: 0.8;
}

.new-sup {
  margin-left: 6px;
  color: #d20e6e;
  font-weight: bold;
  font-size: 80%;
}
