/* aahframework.org CSS file */
@font-face {
    font-family: timeburnerFont;
    src: url(/assets/fonts/timeburnerbold.ttf);
}

body {
  padding-top: 74px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10 viewport hack for Surface/desktop Windows 8 bug
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
  @-ms-viewport     { width: device-width; }
  @-o-viewport      { width: device-width; }
  @viewport         { width: device-width; }
}

@media all and (min-width:769px) and (max-width: 800px),
all and (min-width:569px) and (max-width: 768px),
all and (min-width:481px) and (max-width: 568px),
 all and (min-width:321px) and (max-width: 480px) {
  .aah-banner {
    margin-left: 5px;
    margin-right: 5px;
  }

  .aah-banner h1 {
    font-size: 4em !important;
  }

  .aah-banner h4 {
    font-size: 11px !important;
  }

  .framework-features {
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-text-align {
    text-align: center;
  }

  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}

  .col-aoffset-cse {
    margin-left: 11.6666667%;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-right: 35px;
  }
}

@media all and (min-width:769px) and (max-width: 800px),
all and (min-width:569px) and (max-width: 768px) {
  .col-aoffset-cse {
    margin-left: 16.6666667%;
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  .aah-banner h1 {
    font-size: 3em !important;
  }

  .aah-banner h4 {
    font-size: 13px !important;
  }

  .col-aoffset-cse {
    margin-left: 16.6666667%;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  .aah-banner {
    margin-left: 5px;
    margin-right: 5px;
  }

  .aah-banner h1 {
    font-size: 3.0em !important;
  }

  .aah-banner h4 {
    font-size: 12px !important;
  }

  .framework-features {
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-text-align {
    text-align: center;
  }
}

@media all and (min-width:0px) and (max-width: 592px) {
  #google-cse {
    width: auto !important;
  }
}

@media all and (min-width:768px) and (max-width: 991px){
  .nav>li>a {
    padding: 15px 10px !important;
  }

  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}

@media all and (min-width:0px) and (max-width: 991px) {
  #google-cse {
    margin-top: -15px !important;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 950px;
  }

  .docs-version-dd {
    width: 175px !important;
  }

  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}

  .col-aoffset-cse {
    margin-left: 22.6666667%;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .docs-version-dd {
    width: 230px !important;
  }

  .aah-banner h1 {
    font-size: 5.8em !important;
  }

  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}

  .col-aoffset-cse {
    margin-left: 26.6666667%;
  }
}

code {
  color: #292727;
  background-color: #f5f2f0;
}

.btn {
  border-radius: 2px;
}

.badge {
  background-color: #588cc5;
  border-radius: 2px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: -2px;
}

.navbar-toggle {
  padding: 10px;
  margin: 17px 20px 15px 0;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
  background-color: #e25657;
}

.aah-color {
  color: #e25657;
}

.aah-color-imp {
  color: #e25657 !important;
}

.inherit-color {
  color: inherit;
}

.btn-aah-color, .btn-aah-color:focus, .btn-aah-color:hover {
  background-color: #e25657;
  border-color: #e25657;
}

.navbar-nav .aah-color:hover {
  color: #fff;
}

.navbar-default {
  min-height: 74px;
  border-bottom: 1px solid #dcdbdb;
}

.navbar-brand {
  padding-top: 4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  margin-top: 10px;
  padding-top: 5px;
  border-color: #e25657;
}

.nav-social-align {
  padding-top: 16px;
  padding-left: 10px;
}

.aah-banner {
  padding-top: 60px;
  padding-bottom: 40px;
  color: inherit;
}

.aah-banner h1 {
  font-weight: bolder;
  color: #333333;
  font-size: 5em;
  font-family: timeburnerFont;
}

.aah-banner h4 {
  font-weight: 600;
  color: #555;
  font-size: 15px;
}

.aah-current-release {
  padding-top: 30px;
  font-size: 13px;
  font-weight: 600;
  color: #676767;
}

.aah-release-goreq {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #676767;
}

.aah-release-goreq a {
  font-size: 12px;
}

.aah-getting-started {
  padding-top: 70px;
}

.aah-getting-started .btn-success {
  font-weight: bold;
  font-size: 14px;
}

.aah-social {
  margin-top: 10px;
}

.aah-social a {
  padding-left: 10px;
  color: #999;
}

.aah-social a:hover {
  text-decoration: none;
  cursor: pointer;
}

.aah-social :hover {
  color: #e25657;
}

.hr-drop-shadow {
  height: 15px;
  border: 0;
  box-shadow: inset 0 15px 15px -15px #e6e6e6;
  margin: 0;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.hr-dev-support {
  margin-bottom: 0;
  margin-top: 30px;
  border-top: 1px solid #f9f6f6;
}

.framework-summary {
  padding: 15px 15px 0 15px;
  text-align: justify;
}

.framework-features h3 {
  font-weight: bold;
}

.feature-list {
  margin-top: 40px;
}

.feature-list h5 {
  font-weight: bold;
}

.feature-list p {
  text-align: justify;
  font-size: 14.5px;
}

.features-know-more {
  padding-top: 20px;
}

.aah-scalable-icon {
  position: absolute;
  margin-left: -25px;
  z-index: 100;
}

.alert-info-light {
  background-color: #8e58a9;
}

.alert-info-blue {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px #bce8f1 solid;
}

.alert-info-green {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px #d6e9c6 solid;
}

.alert-info-yellow {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border: 1px #faebcc solid;
}

.body-content {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 600px;
}

.docs-body-content {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 600px;
}

.body-content h1 {
  font-weight: bold;
}

.docs-body-content h1,
.body-content h2, .docs-body-content h2,
.body-content h3, .docs-body-content h3,
.body-content h4, .docs-body-content h4,
.body-content h5, .docs-body-content h5 {
  font-weight: bold;
  padding-top: 20px;
}

.body-content h1, .docs-body-content h1 {
  font-size: 200%;
}

.body-content h2, .docs-body-content h2 {
  font-size: 160%;
}

.body-content h3, .docs-body-content h3 {
  font-size: 125%;
}

.body-content h4, .docs-body-content h4 {
  font-size: 100%;
}

.body-content h5, .docs-body-content h5 {
  font-size: 95%;
}

.body-content .col-lg-6, .docs-body-content .col-lg-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.body-content h1 a, .docs-body-content h1 a,
.body-content h2 a, .docs-body-content h2 a,
.body-content h3 a, .docs-body-content h3 a,
.body-content h4 a, .docs-body-content h4 a {
  text-decoration: none;
  color: inherit;
}

.body-content h1 a:hover, .docs-body-content h1 a:hover,
.body-content h2 a:hover, .docs-body-content h2 a:hover,
.body-content h3 a:hover, .docs-body-content h3 a:hover,
.body-content h4 a:hover, .docs-body-content h4 a:hover, {
  color: #2780e3;
}

.body-content .row, .docs-body-content .row {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.body-content .aah-security ul {
  margin-left: 2%;
}

.body-content .aah-security li, .body-content .getinvolved li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-team a {
	color:inherit;
}

.about-team a:hover {
	color: #2780e3;
}

.docs-sidebar .spacer {
  margin-top: 50px;
}

.page-content {
  border-left: 1px solid #dcdbdb;
  padding-left: 30px;
}

#docEditBtn a {
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.docs-page-content {
  padding-right: 30px;
  min-height: 700px;
}

.docs-page-content p {
  text-align: justify;
}

.docs-page-content li {
  padding-top: 5px;
  padding-bottom: 7px;
}

.tutorials li {
  padding-top: 3px;
  padding-bottom: 2px;
}

.tutorials h4 {
  padding-top: 5px;
}

.docs-li-small li {
  padding-top: 0;
  padding-bottom: 3px;
}

.li-color li a {
  color: inherit;
  text-decoration: none;
}

.li-color li a:hover {
  color: #2780e3;
  text-decoration: underline;
}

.docs-sidebar {
  width: 100%;
  padding-left: 20px;
}

.docs-version {
  margin-top: 26px;
  margin-bottom: 20px;
}

.docs-version-dd .btn-primary, .docs-lang-dd .btn-primary {
  background-color: inherit;
  color: inherit;
  border-color: #dcdbdb;
}

.docs-edit-btn {
  padding-top: 42px;
}

.docs-sidebar-head {
  font-weight: bold;
  margin-top: 15px;
}

.docs-sidebar hr {
  margin-top: 5px;
}

.lb-xs {
  font-size: 9px;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}

.lb-drop-color {
  background-color: #f11e20;
  border-color: #f11e20;
  color: #fff;
}

.list-style-none {
  list-style: none;
  margin-left: -15px;
}

.no-lpad {
  padding-left: 0;
}

.no-rpad {
  padding-right: 0;
}

.tmrgn-15 {
  margin-top: 15px;
}

.tmrgn-35 {
  margin-top: 35px;
}

.tmrgn-75 {
  margin-top: 75px;
}

.footer {
  margin-top: 70px;
  font-size: 13px;
  background-color: #f8f8f8;
	padding-bottom: 2.5%;
}

.footer a {
  color:inherit;
}

.footer a:hover {
  color: #2780e3;
  text-decoration: none;
}

.footer .footer-block {
  padding-top: 1%;
  color: #444141;
}

.aah-footer-logo {
  color: #5f5d5d;
  font-size: 1.5em;
  font-family: timeburnerFont;
  padding-top: 4px;
}

.aah-fwk-text {
  padding-left: 7px;
}

.aah-license-info {
  margin-top: 15px;
}

.footer .footer-box {
  font-size: 12px;
  padding-top: 6px;
}

.footer .footer-box h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

.footer .footer-box li {
  margin-top: 5px;
}

.footer .powered-by {
  font-size: 12px;
  padding-top: 2%;
}

/* Google search */
td.gsc-search-button, td.gsc-clear-button {
  visibility: hidden;
}

div.gs-snippet {
  padding-left: 9px;
}

.gs-result .gs-title, .gs-result .gs-title * {
  text-decoration: none !important;
}

.gsc-control-cse {
  padding-top: 0;
  margin-top: -2px;
}

.gsc-input {
  margin-top: -3px !important;
}

#google-cse {
  margin-top: -13px;
  width: 575px;
}

/* Fix border overflow in Google CSE input for webkit-based browsers */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .gsib_a {
    padding-top: 4px !important;
  }
}

/* Fix border overflow in Google CSE input for Firefox */
@-moz-document url-prefix() {
  .gsib_a {
    padding-top: 3px !important;
  }
}

.vh-sec-hdr {
  height: 35px;
  background-color: #f9f6f6;
  margin-top: 3%;
  padding-left: 7px;
}

.vh-sec-hdr h4 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.9em;
  font-size: 110%;
}

.vh-sec-content {
  margin-top: 1%;
}

.vh-sec-content a {
  text-decoration: none;
  color: inherit;
}

.vh-sec-content a:hover {
  color: #2780e3;
}

.vh-sec-content ul {
  list-style-type: none;
}

.vh-sec-content li {
  padding-bottom: 0;
}

.vh-sec-content .sub-li li {
  list-style: none;
  padding-top: 3px;
}

.show-doc .vh-sec-hdr {
  height: 25px;
}

.show-doc .vh-sec-hdr h4 {
  line-height: 1.5em;
}

.docs-dev-support .vh-sec-content li {
  text-align: center;
}

.page-center-msg {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.non-h-lbl {
  font-weight: bolder;
  font-size: 2em;
}

.gh-star-btn {
  margin-top: 16px;
  margin-left: 11px;
}
