<footer class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-3 col-md-3">
        <a href="{{ rurl . "features" }}">Framework Features</a>
      </div>
      <div class="col-xs-3 col-md-3">
        <a href="{{ rurl . "get_involved" }}">Get Involved</a>
      </div>
      <div class="col-xs-3 col-md-3">
        <a href="{{ config "link.aah.github_issues" }}" target="_blank">Report Bugs</a>
      </div>
      <div class="col-xs-3 col-md-3">
        <a href="{{ config "link.aah.gitter" }}" target="_blank">Gitter Online Chat</a>
      </div>
    </div>
  </div>
  <div class="container tmrgn-15">
    <div class="row">
      <div class="col-xs-6">
        <p>
          <i class="fa fa-copyright fa-fw"></i> 2016-2017 <a href="{{ config "link.jeeva.github_profile" }}" target="_blank">Jeevanandam M.</a>, All rights reserved.<br/>
          <a href="{{ rurl . "credits" }}">Credits</a>, Site version {{ .AppBuildInfo.Version }}
        </p>
      </div>
      <div class="col-xs-6">
        <p class="pull-right text-right">
          aah framework released under <a href="{{ config "link.aah.mit_license" }}" target="_blank">MIT License</a>, unless otherwise noted<br/>
          Content is released under <a rel="nofollow" href="{{ config "link.aah.content_license" }}" target="_blank">CC BY 4.0 License</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="text-center powered-by">
        Powered by <a href="{{ rurl . "index" }}">aah framework v{{ .AahVersion }}</a>
      </div>
    </div>
  </div>
</footer>
