<div class="vh-group docs-dev-support">
  <div class="vh-sec-hdr">
    <h4><i class="fa fa-life-ring aah-color" aria-hidden="true"></i>&nbsp;&nbsp;Dev Support &amp; Need Help?</h4>
  </div>
  <div class="vh-sec-content">
    <ul class="list-inline">
      <li style="width:23%;"><i class="fa fa-comments aah-color" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ config "link.aah.gitter" }}" target="_blank"><img src="{{ rurl . "root.host" }}/assets/img/chat-on-gitter-badge.svg" alt="Chat on Gitter" /></a></li>
      <li style="width:23%;"><i class="fa fa-comment aah-color" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ config "link.aah.github_issues" }}" target="_blank"><img src="{{ rurl . "root.host" }}/assets/img/github-issues-badge.svg" alt="Github Issues" /></a></li>
      <li><i class="fa fa-stack-overflow aah-color" aria-hidden="true"></i>&nbsp;&nbsp;<a href="{{ config "link.aah.stackoverflow" }}" target="_blank"><img src="{{ rurl . "root.host" }}/assets/img/ask-on-stackoverflow-badge.svg" alt="Ask on StackOverflow" /></a> - tag <code>aahframework</code></li>
    </ul>
  </div>
</div>
