{{ $hostUrl := rurl . "host" -}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ $hostUrl }}/assets/js/aah-{{ .AppBuildInfo.Version }}.js"></script>
  <script async defer src="{{ $hostUrl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  {{ if .CodeBlock -}}
  <script src="{{ $hostUrl }}/assets/js/prism.js"></script>
  {{ end -}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.0.0/anchor.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script>
  anchorTagHandling();
  $(document).ready(function(){
    tooltipHandling();

    {{ if .ShowVersionNo -}}
    $('#docs_version').selectpicker('val', '{{ pparam . "version" }}');
    $('#docs_version').on('changed.bs.select', function (e) {
      var version = $(e.currentTarget).val();
      redirectToVersion(version);
    });
    {{- end }}
  });
  // add only if searchbox exists
  if ($('#aahDocSearch').length) {
    docsearch({
     apiKey: '5bf567d6e1256b14e36d4bd6b9a65e84',
     indexName: 'aahframework',
     inputSelector: '#aahDocSearch',
     algoliaOptions: { 'facetFilters': ["version:{{ .CurrentDocVersion }}"] },
    });
  }
  </script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  {{- safeHTML `<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->` }}
