<li><a href="{{ docurlc . "docs.getting_started" }}">Getting Started</a></li>
<li><a href="{{ docurlc . "docs.anatomy" }}">Anatomy - aah application</a></li>
<li><a href="{{ docurlc . "docs.configuration" }}">Configuration</a></li>
<li><a href="{{ docurlc . "docs.routing" }}">Routing</a></li>
<li><a href="{{ docurlc . "docs.request_lifecycle" }}">Request Lifecycle</a></li>
{{ if .Isv07AndGr }}
<li><a href="{{ docurlc . "docs.security_terminology" }}">Security - Terminology</a></li>
<li><a href="{{ docurlc . "docs.security_design" }}">Security - Design</a></li>
<li><a href="{{ docurlc . "docs.security_permissions" }}">Security - Permissions</a></li>
<li><a href="{{ docurlc . "docs.security_subject" }}">Security - Subject</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.rest_api_versioning" }}">RESTful API Versioning</a></li>
<li><a href="{{ docurlc . "docs.pooling" }}">Pooling</a></li>
<li><a href="{{ docurlc . "docs.versioning" }}">Versioning</a></li>
<li><a href="{{ docurlc . "docs.release_development_process" }}">Release & Development Process</a></li>
<li><a href="{{ docurlc . "docs.go_aah_code_quality" }}">Coding Standards and Code Quality</a></li>
<li><a href="{{ docurlc . "docs.release_notes" }}">Release Notes</a></li>
<li><a href="{{ rurl . "docs.version_home" "godoc.html" }}">Godoc</a></li>
