<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ rurl . "index" }}"><img src="{{ rurl . "root.host" }}/assets/img/aah-logo-64x64.png" alt="aah framework logo"/></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{ if not .IsVersionHome -}}
        <li><a href="{{ rurl . "docs.index" }}">Docs Home</a></li>
        {{- end }}
        <li>
          <a href="{{ docurlc . "docs.getting_started" }}">Getting Started</a>
        </li>
        <li>
          <a href="#">Go Docs</a>
        </li>
        <li>
          <a href="#">Cookbook</a>
        </li>
        <li>
          <a href="#" target="_blank">Release Notes</a>
        </li>
        <li>
          <a href="{{ config "link.aah.github" }}" target="_blank">Don't forget to ⭐</a>
        </li>
      </ul>
    </div> <!--/.nav-collapse -->
  </div>
</nav>
