<div class="docs-sidebar">
  {{ if .ShowVersionDocs -}}
  <div class="clear">
    <label class="docs-sidebar-head">Documentation</label>
    <ul class="li-color list-unstyled">
      {{ include "/common/docs_guide_links.html" . }}
    </ul>
  </div>
  
  {{ if .Isv012AndGr }}
  <div class="clear">
    <label class="docs-sidebar-head">Debugging, Diagnosis &amp; Profiling</label>
    <ul class="li-color list-unstyled">
      {{ include "/common/docs_guide_debug_profile.html" . }}
    </ul>
  </div>
  {{ end }}

  <div class="clear">
    <label class="docs-sidebar-head">Deployment &amp; DevOps</label>
    <ul class="li-color list-unstyled">
      {{ include "/common/docs_guide_ops.html" . }}
    </ul>
  </div>
  {{- end }}

  {{ if .ShowInsightSideNav -}}
  <div class="clear">
    <label class="docs-sidebar-head">Insights into aah</label>
    <ul class="li-color list-unstyled">
      {{ include "/common/docs_insight_links.html" . -}}
    </ul>
  </div>
  {{- end }}
</div>
<!--/sidebar-nav-fixed -->
