<div class="docs-sidebar">
  {{ if .ShowVersionDocs -}}
  <div class="clear">
    <label class="docs-sidebar-head">Documentation</label>
    <ul class="li-color list-unstyled">
      {{ import "docs_guide_links.html" . }}
    </ul>
  </div>

  <div class="clear">
    <label class="docs-sidebar-head">Deployment &amp; DevOps</label>
    <ul class="li-color list-unstyled">
      {{ import "docs_guide_ops.html" . }}
    </ul>
  </div>
  {{- end }}

  {{ if .ShowInsightSideNav -}}
  <div class="clear">
    <label class="docs-sidebar-head">Insights into aah framework</label>
    <ul class="li-color list-unstyled">
      {{ import "docs_insight_links.html" . -}}
    </ul>
  </div>
  {{- end }}
</div>
<!--/sidebar-nav-fixed -->
