<div class="docs-sidebar">
  {{ if .ShowVersionNo -}}
  <div class="docs-version">
    <select id="docs_version" class="selectpicker docs-version-dd" data-style="btn-primary">
      {{ range .Releases -}}
      <option value="{{ . }}">Framework {{ dverdis . }}</option>
      {{- end }}
    </select>
  </div>
  <!--  ./ docs-version -->
  {{ end }}

  {{ if .ShowVersionDocs -}}
  <div class="row">
    <label class="docs-sidebar-head">Documentation</label>
    <hr>
    <ul class="li-color">
      {{ import "docs_guide_links.html" . }}
    </ul>
  </div>

  <div class="row">
    <label class="docs-sidebar-head">Deployment & Operational</label>
    <hr>
    <ul class="li-color">
      {{ import "docs_guide_ops.html" . }}
    </ul>
  </div>
  {{- end }}

  {{ if .ShowInsightSideNav -}}
  <div class="row">
    <label class="docs-sidebar-head">Insights into aah framework</label>
    <hr>
    <ul class="li-color">
      {{ import "docs_insight_links.html" . -}}
    </ul>
  </div>
  {{- end }}
</div>
<!--/sidebar-nav-fixed -->
