<li><a href="{{ docurlc . "docs.aah_cli" }}">aah CLI Tool</a></li>
<li><a href="{{ docurlc . "docs.aah_project_file" }}">aah project file</a></li>
{{ if .Isv010AndGr }}
<li><a href="{{ docurlc . "docs.init_go" }}">aah init.go file</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.aah_server" }}">Server</a></li>
<li class="list-style-none"><ul class="list-unstyled">
  <li><a href="{{ docurlc . "docs.aah_server_extension" }}">Server Extension</a></li>
  {{ if .Isv09AndGr }}
  <li><a href="{{ docurlc . "docs.server_dump_log" }}">Server Dump Log</a></li>
  {{ end }}
</ul></li>
<li><a href="{{ docurlc . "docs.configuration" }}">Configuration</a></li>
<li class="list-style-none"><ul class="list-unstyled">
  <li><a href="{{ docurlc . "docs.app_config" }}">App Config</a></li>
  <li><a href="{{ docurlc . "docs.routes_config" }}">Routes Config</a></li>
  <li><a href="{{ docurlc . "docs.security_config" }}">Security Config</a></li>
  <li><a href="{{ docurlc . "docs.log_config" }}">Log Config</a></li>
</ul></li>
<li><a href="{{ docurlc . "docs.request_response" }}">Request and Response</a></li>
{{ if .Isv08AndGr }}
<li><a href="{{ docurlc . "docs.auto_bind" }}">Parameters - Auto Bind</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.controllers" }}">Controllers</a></li>
<li class="list-style-none"><ul class="list-unstyled">
  <li><a href="{{ docurlc . "docs.interceptors" }}">Interceptors</a></li>
</ul></li>
{{ if .Isv08AndGr }}
<li><a href="{{ docurlc . "docs.authc" }}">Authentication</a></li>
<li class="list-style-none"><ul class="list-unstyled">
  <li><a href="{{ docurlc . "docs.password_encoders" }}">Password Encoders</a></li>
</ul></li>
<li><a href="{{ docurlc . "docs.authz" }}">Authorization</a></li>
<li class="list-style-none"><ul class="list-unstyled">
  <li><a href="{{ docurlc . "docs.security_permissions" }}">Permissions</a></li>
</ul></li>
{{ end }}
{{ if .Isv010AndGr }}
<li><a href="{{ docurlc . "docs.validation" }}">Data Validation</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.session" }}">Session Management</a></li>
<li><a href="{{ docurlc . "docs.reply" }}">Reply Builder</a></li>
<li><a href="{{ docurlc . "docs.middleware" }}">Middleware</a></li>
<li><a href="{{ docurlc . "docs.views" }}">Views</a></li>
<li class="list-style-none"><ul class="list-unstyled">
  <li><a href="{{ docurlc . "docs.template_funcs" }}">Template Functions</a></li>
</ul></li>
<li><a href="{{ docurlc . "docs.i18n" }}">I18n Internationalization</a></li>
{{ if .Isv08AndGr }}
<li><a href="{{ docurlc . "docs.app_config" }}#section-content-negotiation">Content Negotiation</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.event_publisher" }}">Event Emitter</a></li>
{{ if .Isv011AndGr }}
<li><a href="{{ docurlc . "docs.websocket" }}">WebSocket</a></li>
{{ end }}
{{ if .Isv08AndGr }}
<li><a href="{{ docurlc . "docs.security_config" }}#section-http-header">Secure HTTP Headers</a></li>
{{ end }}
{{ if .Isv09AndGr }}
<li><a href="{{ docurlc . "docs.anti_csrf" }}">Anti-CSRF Protection</a></li>
{{ end }}
{{ if .Isv010AndGr }}
<li><a href="{{ docurlc . "docs.cors" }}">CORS</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.static_files" }}">Static Files</a></li>
{{ if .Isv08AndGr }}
<li><a href="{{ docurlc . "docs.error_handler" }}">{{ if .Isv010AndGr }}Error Handling{{ else }}Centrailzed Error Handler{{ end }}</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.logging" }}">Logging</a></li>
{{ if .Isv08AndGr }}
<li><a href="{{ docurlc . "docs.external_json_library" }}">External JSON Library</a></li>
{{ end }}
<li><a href="{{ docurlc . "docs.faq" }}">FAQ</a></li>
