<div class="row">
  <div class="col-md-2 col-md-offset-4" style="width:575px;margin-top: -13px;">
    <script>
    (function() {
      var cx = '009493446032256864041:v0qq5pihkzy';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
  </div>
</div>
