<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ rurl . "host" }}/assets/js/aah-{{ .AppBuildInfo.Version }}.js"></script>
  <script async defer src="{{ rurl . "host" }}/assets/js/ie10-viewport-bug-workaround.js"></script>
  {{ if .CodeBlock -}}
  <script src="{{ rurl . "host" }}/assets/js/prism.js"></script>
  {{- end -}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.0.0/anchor.min.js"></script>
  <script>
  anchorTagHandling();
  $(document).ready(function(){
    tooltipHandling();
    resizeAahBanner();
  });

  $(window).resize(function() {
    resizeAahBanner();
  });

  $(window).bind('orientationchange', function() {
    resizeAahBanner();
  });
  </script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  {{- safeHTML `<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->` }}
