<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/assets/js/aah.js" type="text/javascript"></script>
  <script async defer src="/assets/js/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
  {{ if .CodeBlock -}}
  <script src="/assets/js/prism.js"></script>
  {{- end -}}
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();

    $('a[href^="#"').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - 95 //offsets for fixed header
          }, 1000);
          return false;
        }
      }
    });

    // scroll to anchor tag
    var anchorVal = location.href.split("#")[1];
    if($(anchorVal)) {
      var target = $('#'+anchorVal);
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 95 //offset height of header here too.
        }, 1000);
        return false;
      }
    }
  });
  </script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  {{- safeHTML `<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->` }}
