<meta name="description" content="aah, The web framework for Go">
    <meta name="author" content="https://github.com/jeevatkm">
    <link rel="icon" href="/assets/img/aah-logo-32x32.png" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/aah.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" >
    {{ if .CodeBlock -}}
    <link href="/assets/css/prism.css" rel="stylesheet" />
    {{- end }}
