<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ rurl . "index" }}"><img src="{{ rurl . "host" }}/assets/img/aah-logo-64x64.png" alt="aah framework logo"/></a>
    </div>
    <div id="navbar2" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {{ if .IsGettingStarted }}class="active"{{ end }}>
          <a href="{{ rurl . "docs.version_home" (config "docs.getting_started") }}">Getting Started</a>
        </li>
        <li {{ if .IsFeatures }}class="active"{{ end }}>
          <a href="{{ rurl . "features" }}">Features</a>
        </li>
        <li {{ if .IsSecurity }}class="active"{{ end }}>
          <a href="{{ rurl . "security" }}">Security</a>
        </li>
        <li {{ if .IsVersionHome}}class="active"{{ end }}>
          <a href="{{ rurl . "docs.index" }}">Documentation</a>
        </li>
        <li {{ if .IsTutorials }}class="active"{{ end }}>
          <a href="{{ rurl . "docs.version_home" "tutorials.html" }}">Tutorials</a>
        </li>
        <li {{ if .IsGodoc }}class="active"{{ end }}>
          <a href="{{ rurl . "docs.version_home" "godoc.html" }}">Godoc</a>
        </li>
        <li {{ if .IsWhyAah }}class="active"{{ end }}>
          <a href="{{ rurl . "why_aah" }}">Why aah?</a>
        </li>
        <li>
          <!-- <div class="label gh-star-tip">Support aah :)</div> -->
          <div class="gh-star-btn">
            <iframe src="https://ghbtns.com/github-btn.html?user=go-aah&repo=aah&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
          </div>
        </li>
      </ul>
    </div> <!--/.nav-collapse -->
  </div>
</nav>
