<div class="aah-social">
  <a href="{{ config "link.aah.gitter" }}" target="_blank">
    <i class="fab fa-gitter fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Gitter Chat"></i>
  </a>
  <a href="{{ config "link.aah.twitter" }}" target="_blank">
    <i class="fab fa-twitter fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Twitter"></i>
  </a>
  <a href="{{ config "link.aah.google_plus" }}" target="_blank">
    <i class="fab fa-google-plus-g fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Google+"></i>
  </a>
  <a href="{{ config "link.aah.github" }}" target="_blank">
    <i class="fab fa-github fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Github"></i>
  </a>
  <a href="{{ config "link.aah.stackoverflow" }}" target="_blank">
    <i class="fab fa-stack-overflow fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Stackoverflow"></i>
  </a>
</div>
