<div class="aah-social">
  <a href="{{ config "link.aah.gitter" }}" target="_blank">
    <i class="fa fa-comments fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Gitter Chat"></i>
  </a>
  <a href="{{ config "link.aah.twitter" }}" target="_blank">
    <i class="fa fa-twitter fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Twitter"></i>
  </a>
  <a href="{{ config "link.aah.mailling_list" }}" target="_blank">
    <i class="fa fa-envelope fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Google Groups"></i>
  </a>
  <a href="{{ config "link.aah.github" }}" target="_blank">
    <i class="fa fa-github fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Github"></i>
  </a>
  <a href="{{ config "link.aah.stackoverflow" }}" target="_blank">
    <i class="fa fa-stack-overflow fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Stackoverflow"></i>
  </a>
  <a href="{{ config "link.aah.google_plus" }}" target="_blank">
    <i class="fa fa-google-plus-official fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Google+"></i>
  </a>
</div>
